langchain_community
langchain_text_splitters
langchain
ibm_watson_machine_learning
langchain
ibm_watsonx_ai
python-dotenv

opentelemetry-api==1.21.0
opentelemetry-distro==0.42b0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-exporter-otlp-proto-http==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-anthropic==0.3.5
opentelemetry-instrumentation-asgi==0.42b0
opentelemetry-instrumentation-aws-lambda==0.42b0
opentelemetry-instrumentation-chromadb==0.3.5
opentelemetry-instrumentation-cohere==0.3.5
opentelemetry-instrumentation-dbapi==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-instrumentation-grpc==0.42b0
opentelemetry-instrumentation-jinja2==0.42b0
opentelemetry-instrumentation-langchain==0.3.5
opentelemetry-instrumentation-llamaindex==0.3.5
opentelemetry-instrumentation-logging==0.42b0
opentelemetry-instrumentation-openai==0.3.5
opentelemetry-instrumentation-pinecone==0.3.5
opentelemetry-instrumentation-pymysql==0.42b0
opentelemetry-instrumentation-requests==0.42b0
opentelemetry-instrumentation-sqlite3==0.42b0
opentelemetry-instrumentation-tortoiseorm==0.42b0
opentelemetry-instrumentation-transformers==0.3.5
opentelemetry-instrumentation-urllib==0.42b0
opentelemetry-instrumentation-urllib3==0.42b0
opentelemetry-instrumentation-wsgi==0.42b0
opentelemetry-propagator-aws-xray==1.0.1
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-semantic-conventions-ai==0.0.8
opentelemetry-util-http==0.42b0
traceloop-sdk==0.3.5

opentelemetry-instrumentation-watsonx